.HistoryPage {
    margin-top: 100px;
    margin-bottom: 100px;

    &__heading {
        font-size: 24px;
        font-weight: 300;
        font-family: "Poppins";
        color: #333333;

        text-transform: uppercase;
    }
}
